<ion-header>
  <ion-toolbar class="menu">
    <ion-title class="ion-text-center">Únete a RecetasMX</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/graphic2.svg" alt="">
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="3"> -->
      <ion-col>
        <ion-button expand="block" class="facebook"  (click)="loginFacebook()">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
            Registrate con Facebook
        </ion-button>
        <div>
          <br>
        </div>
        <ion-button expand="block" class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google" slot="start"></ion-icon>
            Registrate con google
        </ion-button>
        <div>
          <br>
        </div>
        <ion-button herf="login-email.html" expand="block" class="mail">
          <ion-icon name="mail" slot="start"></ion-icon>
            Registrate con tu Email
        </ion-button>
        <div>
          <br>
        </div>
        <ion-button expand="block" class="sesion-email" routerLink="/login-email">
            Iniciar sesión
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
  </div> -->


</ion-content>