.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background: aliceblue;
}

.text-danger{
    color: #cf3c4f;
}


.google{
    --background:#DB4437;
    font-size: 11px;
    text-align: center;
}
.facebook{
    --background: #4267B2;
    font-size: 10px;
    text-align: center;
}

.mail{
    --background:#ECB22E;
    font-size: 11px;
    text-align: center;
}

.sesion-email{
    --background: gray;
    font-size: 12px;
    text-align: center;
}

.or {
    color: gray;
    font-size: 14px;
    text-align: center;
}


.menu{
    --background:#F4B400;
}